@CHARSET "ISO-8859-1";

label{padding-right:5px;padding-left:5px;text-transform : capitalize;}

#loginUser{color: white;cursor: default;}

#stats{font-size:1.3em;}

.container{margin-top:70px;}

.center-text{text-align:center}

.labelEmploye{width:115px;}

