<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Expeditor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnexionServelt</display-name>
    <servlet-name>ConnexionServelt</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ConnexionServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServelt</servlet-name>
    <url-pattern>/ConnexionServelt</url-pattern>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandeServlet</display-name>
    <servlet-name>CommandeServlet</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.CommandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandeServlet</servlet-name>
    <url-pattern>/CommandeServlet</url-pattern>
    <url-pattern>/commande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>zad</display-name>
    <servlet-name>zad</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.zad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zad</servlet-name>
    <url-pattern>/zad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetourAcceuilServlet</display-name>
    <servlet-name>RetourAcceuilServlet</servlet-name>
    <servlet-class>fr.eni_ecole.jee.servlet.RetourAcceuilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetourAcceuilServlet</servlet-name>
    <url-pattern>/RetourAcceuilServlet</url-pattern>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
</web-app>